<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

	<http auto-config="true" use-expressions="true">
		<!-- 登录页面不需要控制权限 -->
	    <intercept-url pattern="/app/**" access="permitAll" />
		<intercept-url pattern="/loginLib/**" access="permitAll" />
		<intercept-url pattern="/system-asset/**" access="permitAll" />
	    <intercept-url pattern="/login.html" access="permitAll"/>
	    <!-- 访问其他所有页面都需要有USER权限 -->
	    <intercept-url pattern="/**" access="hasRole('ROLE_USER')" />
	    <session-management invalid-session-url="/login.html"/>
	    <!-- 配置登录页面地址login-page、登录失败后的跳转地址authentication-failure-url -->
	    <form-login login-page="/login.html" 
			username-parameter="userName"
			password-parameter="password"
			login-processing-url="/login.action" 
			authentication-failure-url="/login.html?error=1"
			authentication-success-handler-ref="authenticationLoginSuccessHandler"/>
	    <!-- 登出功能 -->
	    <logout invalidate-session="true"
	    	delete-cookies="JSESSIONID"
	    	logout-url="/logout.action"
	    	success-handler-ref="authenticationLogoutSuccessHandler"/>
	    <csrf disabled="true" />
	</http>

	<authentication-manager>
	    <authentication-provider user-service-ref='userDetailsService'>
	    	<password-encoder ref="passwordEncoder" />
	    </authentication-provider>
	</authentication-manager>
	<beans:bean id="userDetailsService" class="com.ycci.security.UserDetailsServiceImpl" />
	<beans:bean id="authenticationLoginSuccessHandler" class="com.ycci.security.DLLoginSuccessHandler"/>
	<beans:bean id="authenticationLogoutSuccessHandler" class="com.ycci.security.DLLogoutSuccessHandler" />
	<beans:bean id="passwordEncoder" class="com.ycci.security.PasswordEncoderImpl" />
</beans:beans>