<div class="panel form-horizontal">
	<h1 class="page-header">
		工單查詢
	</h1>
	<div class="panel-body">
		<div class="form-group">
			<label class="control-label col-lg-3">案件類型</label>
       		<div class="col-lg-4">
          		<select class="form-control"
						ng-model="searchParam.caseType"
						ng-options="item.id as item.codeName for item in caseTypeItems">
					<option value="">所有</option>
				</select>
             </div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-3">案件分類</label>
       		<div class="col-lg-4">
          		<select class="form-control"
						ng-model="searchParam.caseGroup"
						ng-options="item.id as item.codeName for item in caseGroupItems">
					<option value="">所有</option>
				</select>
             </div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-3">狀態</label>
			
       		<div class="col-lg-6">
       			<div class="row">
		      		<div class="col-lg-5">
		      			<select class="form-control"
								ng-model="searchParam.status"
								ng-options="item.id as item.codeName for item in statusItems">
							<option value="">所有</option>
						</select>
		            </div>
			   		<div class="col-lg-1"  style="text-align: center;" align="center">
			        </div>
		      		<div class="col-lg-5">
		      			<select class="form-control"
							ng-model="searchParam.subStatus"
							ng-options="item.id as item.codeName for item in subStatusItems[searchParam.status]">
						<option value="">所有</option>
						</select>
	       			</div>
       			</div>
    		</div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-3">建檔日期</label>
       		<div class="col-lg-6">
       			<div class="row">
			   		<div class="col-lg-5">
			   			<div date-picker
			   				 model="searchParam.startDate">
			   			</div>
			        </div>
			   		<div class="col-lg-1"  style="text-align: center;margin-top: 7px;" align="center">
			   			~
			        </div>
			   		<div class="col-lg-5">
			   			<div date-picker
			   				 model="searchParam.endDate">
			   			</div>
			         </div>
       			</div>
      		</div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-3">
				地址
			</label>
       		<div class="col-lg-7">
       			<div class="row">
       				<div class="col-lg-3">
	          			<select class="form-control"
								ng-model="searchParam.address.city"
								ng-options="item.id as item.codeName for item in cityItems">
							<option value="">所有</option>
						</select>
       				</div>
       				<div class="col-lg-3">
	          			<select class="form-control"
								ng-model="searchParam.address.town"
								ng-options="item.id as item.codeName for item in townItems[searchParam.address.city]">
							<option value="">所有</option>
						</select>
       				</div>
       				<div class="col-lg-6">
         				<input ng-model="searchParam.address.addr"  
         					   class="form-control" 
         					   type="text" 
         					   placeholder="路街巷號">
       				</div>
       			</div>
             </div>
		</div>
	</div>
	<div class="panel-footer" align="right">
		<button type="button" class="btn btn-default" ng-click="cleanSearchParam()">
			清除
		</button>
		<button type="button" class="btn btn-primary" ng-click="search()">
			查詢
		</button>
	</div>
	<div class="panel-body" ng-show="showSearchRes">
		<div class="form-group">
			<div class="col-lg-12">
				<table class="table table-bordered table-hover table-striped">
	                <thead>
	                    <tr>
	                        <th style="text-align: center;">工程名稱</th>
	                        <th style="text-align: center;">年度</th>
	                        <th style="text-align: center;">期別</th>
	                        <th style="text-align: center;">地址</th>
	                        <th style="text-align: center;">通報單位</th>
	                        <th style="text-align: center;">通知人員</th>
	                        <th style="text-align: center;">通報人員手機</th>
	                        <th style="text-align: center;">通報人員市話</th>
	                        <th style="text-align: center;">狀態</th>
	                        <th style="text-align: center;">狀態細項</th>
	                        <th style="text-align: center;"></th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr ng-repeat="info in ticketInfos.result">
	                        <td style="vertical-align: middle;">{{info.ticketName}}</td>
	                        <td style="vertical-align: middle;">{{info.year}}</td>
	                        <td style="vertical-align: middle;">{{info.season}}</td>
	                        <td style="vertical-align: middle;">{{info.city}}{{info.town}}{{info.addr}}</td>
	                        <td style="vertical-align: middle;">{{info.noticeDep}}</td>
	                        <td style="vertical-align: middle;">{{info.noticePerson}}</td>
	                        <td style="vertical-align: middle;">{{info.noticeMobile}}</td>
	                        <td style="vertical-align: middle;">{{info.noticeAreacode}}-{{info.noticeTel}}-{{info.noticeExten}}</td>
	                        <td style="vertical-align: middle;">{{info.status}}</td>
	                        <td style="vertical-align: middle;">{{info.subStatus}}</td>
							<td style="vertical-align: middle;" align="center">
								<a href="{{'index.jsp#/ticketDeatil/' + info.id}}">
									<button type="button" class="btn btn-warning btn-sm" 
										    ng-click="edit()">
										 檢視
								    </button>
								</a>
							</td>
	                    </tr>
	                    <tr ng-show="isEmpty(ticketInfos.result)">
	                    	<td td class='text-center' colspan="11">&#28961;&#36039;&#26009;</td>
	                    </tr>
	                </tbody>
	            </table>
	            <div pagination
	            	 total-count="ticketInfos.totalCount"
	            	 page-size="ticketInfosPageSize"
	            	 change-func="ticketInfoChangePage"
	            	 init-api="ticketInfoInitApi">
            	</div>
            </div>
		</div>
	</div>
</div>

